:root {
    --bg-shade-0: #0c0d14;
    --bg-shade-1: #12131d;
    --bg-shade-2: #1c1d2b;
    --bg-shade-3: #222333;
    --bg-shade-4: #2f3042;
    --bg-shade-5: #48495f;
    --text-shade-1: #e0dcdc;
    --text-shade-2: #adb0c7;
    --text-shade-3: #8a8ca1;
    --operational-1: #6ea73a;
    --degraded-1: #c57c37;
    --outage-1: #c53737;
    --brand: #9d6ff3;
}

body, html {
    background-color: var(--bg-shade-1);
    color: var(--text-shade-2);
    font-family: "Poppins", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p, h1, h2 {
    margin: 0;
}

/* Markdown prose */
.prose h1, .prose h2, .prose h3, .prose h4, .prose h5, .prose h6 {
    font-weight: bold;
    color: var(--text-shade-1);
    margin: 1em 0;
}
.prose h1 {
    font-size: 2em;
}
.prose h2 {
    font-size: 1.5em;
}
.prose h3 {
    font-size: 1.2em;
}
.prose h4, .prose h5, .prose h6 {
    font-size: 1.1em;
}

.prose p {
    margin-bottom: 1em;
}

.prose a {
    font-weight: bold;
    color: var(--text-shade-1);
    text-decoration: underline;
    text-decoration-color: var(--brand);
    text-decoration-thickness: 2px;
    transition: opacity 50ms ease-in-out;
}
.prose a:hover {
    opacity: .8;
}

.prose b {
    font-weight: bold;
    color: var(--text-shade-1);
}

.prose hr {
    height: 1px;
    border: 0;
    background: var(--bg-shade-4);
    margin: 2em 0;
}

.prose i {
    font-style: italic;
}

.prose code {
    background-color: var(--bg-shade-2);
    border: 1px solid var(--bg-shade-4);
    padding: 0.3em 0.5em;
    font-size: 0.9em;
    border-radius: 5px;
    color: var(--text-shade-2);
}

.prose pre code {
    display: block;
    padding: 1em;
    border-radius: 10px;
}

.prose blockquote {
    border-left: 2px solid var(--bg-shade-5);
    padding: 0.5em 0.5em 0.5em 2em;
    margin: 1em 0;
}

.prose blockquote *:last-child {
    margin-bottom: 0;
}


.prose *:last-child {
    margin-bottom: 0;
}
